.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.flex-center-space-around {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flex-down {
    flex-direction: column;
}