.library-outer-body{
    width: 100%;

    height: 100%;
    background-color: #f0f0f0;
    .library-outer-heading {
        margin: 0;
        padding: 1.6rem;
        font-weight: 200;
        font-size: 8rem;
    }
    .library-add-new-button{
        font-size: 2.4rem;
        padding: 1.8rem 3.8rem;
        color: #ffffff;
        background-color: #40bbbb;
        border: none;
        margin: 0.8rem 1.6rem;
    }
}